.post-mapper-all{
    display: grid;
    justify-content: center;
}

.date-margin{
    margin-left: 173px;
}

.card{
    margin-bottom: 8px;
    backdrop-filter: blur(6px);
    filter: drop-shadow(2px 4px 6px black);
}

.style-post-name {
    position: fixed;
    margin-left: px;
    font-size: 20px;
    font-family: fantasy;
    color: whitesmoke;
    background-image: linear-gradient(to right top, #3b8ad9,#00cebd);
    border-radius: 500px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 0px;
    padding-left: 8px;
    padding-right: 8px;

}
.style-trashcan {
  
}
svg{
    float: right!important;
    position: absolute!important;
    right: 0!important;
    margin-right: 4px!important;
    margin-top: 2px!important;
    font-size: xx-large!important;
}